In [3]:
import pandas as pd

In [ ]:
#df.iloc[row_start:row_end , col_start, col_end]

In [69]:
name = "CleanerStuff.csv"

In [70]:
RawData = pd.read_csv(name)
RawData.head()

,Ticker,Description,"Change 1h, %","Change 4h, %",Change from Open %,Change %,"Change 1W, %","Change 1M, %",3-Month Performance,6-Month Performance,Yearly Performance,5Y Performance,Sector
0,NKTX,"Nkarta, Inc.",0.621118,0.621118,117.687075,116.216216,107.792208,130.215827,56.862745,-33.054393,-76.154993,-94.155251,Health Technology
1,ASMB,"Assembly Biosciences, Inc.",-0.746324,-0.746324,-8.965517,81.818182,85.654008,49.152542,22.222222,17.857143,-22.352941,-94.529631,Health Technology
2,ANEB,"Anebulo Pharmaceuticals, Inc.",-3.703704,-3.703704,8.837209,36.842105,-4.881915,-23.404255,-7.105994,-20.408163,-13.333333,-68.292683,Health Technology
3,GPAK,Gamer Pakistan Inc.,-0.397189,-0.397189,28.346457,32.520325,22.648608,NaN,-61.190476,-61.190476,-61.190476,-61.190476,Consumer Services
4,MBRX,"Moleculin Biotech, Inc.",1.410236,1.410236,23.076923,30.612245,42.222222,49.707602,3.225806,-19.989999,-38.461538,-92.270531,Health Technology

In [71]:
Catogories = pd.Series.unique(RawData.iloc[ :,-1])
print(Catogories)
criteria = RawData.columns.values.tolist()
criteria.pop(0)
criteria.pop(-1)
criteria.pop(0)
print(criteria)

['Health Technology' 'Consumer Services' 'Commercial Services'
 'Electronic Technology' 'Energy Minerals' 'Retail Trade'
 'Producer Manufacturing' 'Finance' 'Technology Services'
 'Consumer Non-Durables' 'Process Industries' 'Consumer Durables'
 'Health Services' 'Industrial Services' 'Transportation' 'Miscellaneous'
 'Non-Energy Minerals' 'Utilities' 'Communications'
 'Distribution Services' 'Government']
['Change 1h, %', 'Change 4h, %', 'Change from Open %', 'Change %', 'Change 1W, %', 'Change 1M, %', '3-Month Performance', '6-Month Performance', 'Yearly Performance', '5Y Performance']

In [72]:
averages = pd.DataFrame()
averages["Catogories"] = Catogories
averages

                Catogories
0        Health Technology
1        Consumer Services
2      Commercial Services
3    Electronic Technology
4          Energy Minerals
5             Retail Trade
6   Producer Manufacturing
7                  Finance
8      Technology Services
9    Consumer Non-Durables
10      Process Industries
11       Consumer Durables
12         Health Services
13     Industrial Services
14          Transportation
15           Miscellaneous
16     Non-Energy Minerals
17               Utilities
18          Communications
19   Distribution Services
20              Government

In [73]:
#df.iloc[:,2]
for j in criteria:
    temp_list = []
    for i in Catogories:
        temp = RawData.loc[RawData['Sector'] == i, j].mean()
        temp_list.append(temp)
    averages[j] = temp_list
averages

,Catogories,"Change 1h, %","Change 4h, %",Change from Open %,Change %,"Change 1W, %","Change 1M, %",3-Month Performance,6-Month Performance,Yearly Performance,5Y Performance
0,Health Technology,-0.056197,0.191551,2.165688,2.115262,2.757765,-2.135353,-23.695933,-21.742635,-19.677820,-39.224859
1,Consumer Services,-0.162824,-0.070599,2.246649,1.805151,3.291022,-1.245278,-17.913561,-13.905171,-5.873090,-11.529827
2,Commercial Services,-0.170970,0.009274,1.950939,1.604758,2.717380,2.198741,-12.887278,-5.309092,-5.966711,-8.383097
3,Electronic Technology,-0.067286,0.277866,2.151664,1.465461,3.188272,-1.446326,-18.678770,-3.560841,7.891391,61.986732
4,Energy Minerals,-0.074156,-0.053982,1.375060,1.208141,2.029623,1.271389,13.263487,17.833046,8.950022,47.190633
5,Retail Trade,-0.080837,0.110311,3.031993,2.398030,5.117851,-1.127155,-11.271787,-2.993909,-3.706560,25.022385
6,Producer Manufacturing,-0.142790,0.015082,2.089171,1.406192,2.882993,-1.181592,-8.809060,7.182018,20.972395,35.029699
7,Finance,-0.011054,0.178528,1.481365,1.329207,2.285963,-0.354501,-7.064212,-1.308597,-2.521507,-0.201794
8,Technology Services,-0.143387,-0.004636,2.322801,1.554384,3.164452,-1.551098,-18.122440,-0.652071,15.323799,18.034789
9,Consumer Non-Durables,-0.192512,-0.002831,1.984038,1.857673,3.462005,-3.522966,-12.421900,-12.295873,-4.248441,43.652361
10,Process Industries,-0.128001,0.138978,2.057550,1.561413,2.860137,-3.620960,-15.216676,-8.075377,-8.079244,6.933048
11,Consumer Durables,-0.023792,0.104911,1.915993,1.489628,2.496330,-3.406084,-17.671982,-4.712863,2.335596,24.805399
12,Health Services,0.171200,0.381364,2.383772,2.060857,4.096357,-1.579591,-14.514244,-8.962640,-14.709241,-2.375048
13,Industrial Services,-0.113539,0.335678,2.220352,1.836499,1.428566,-1.073039,-3.618092,8.800963,23.599868,39.909053
14,Transportation,-0.117158,0.067372,1.618074,1.458008,2.905985,-1.684181,-12.296999,-2.455647,7.528559,14.334320
15,Miscellaneous,0.005942,0.033751,0.405310,-0.048631,0.337699,-0.933897,-7.434445,-3.709143,2.542665,-6.119037
16,Non-Energy Minerals,-0.212201,-0.089737,1.574094,1.016573,2.078261,-0.979915,-10.737368,-2.778918,20.048960,93.089027
17,Utilities,-0.103885,-0.000589,0.948165,0.258327,1.278919,0.578600,-11.424738,-13.661324,-8.044670,2.844621
18,Communications,-0.239717,-0.239717,1.745911,1.378651,3.953986,0.454972,8.371213,-2.126728,-6.230148,-7.173970
19,Distribution Services,-0.128730,0.008734,1.786952,1.355126,2.687940,1.024127,-8.174854,1.113186,5.960655,50.322679
20,Government,0.039012,-0.828729,-0.462107,-1.101928,-0.919963,-0.323924,-1.237964,-2.533937,3.507929,-12.439024